article {
  width: 500px;
}
ul {
  margin-top: 50px;
  margin-bottom: 50px;
}
li {
  padding-left: 10px;
  margin-top: 5px;
}
.button {
  padding: 5px 15px;
  border-radius: 10%;
  background: #384b60;
  color: #bedafa;
}
